mat-card{
  max-width: 80%;
  margin: 1em auto;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.1);
}
