<mat-card>
  <mat-card-header>
    <mat-card-title>Detalhes do Curso</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="Nome" formControlName="name" required>
        <mat-error>
          Campo obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-select formControlName="category" placeholder="Categoria" required>
          <mat-option [value]="" selected disabled>Selecione</mat-option>
          <mat-option [value]="'Front-end'">Front-end</mat-option>
          <mat-option [value]="'Back-end'">Back-end</mat-option>
        </mat-select>
        <mat-error>
          Campo obrigatório
        </mat-error>

      </mat-form-field>
    </form>

  </mat-card-content>
  <mat-error *ngIf="form.touched && form.invalid">{{form.controls.name.errors}}</mat-error>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="onAdd()">Salvar</button>
    <button mat-raised-button color="warn" (click)="onCancel()">Cancelar</button>
  </mat-card-actions>

</mat-card>
