//proprio componente
:host {
  width: 100%;
  margin-top: 50px;
}

mat-card {
  margin: 0 auto;
  max-width: 80%;
  padding: 20px;
  box-sizing: border-box;

  mat-form-field {
    width: 100%;
  }

  button {
    margin: 0 5px;
  }
}

table {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 1 auto;

  .lessonName {
    width: 60% !important;
  }

  .lessonYoutube {
    width: 20% !important;
  }

  .lessonActions {
    width: 5% !important;
  }
}
