table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

td button {
  margin-right: 5px;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.1);
}
